# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
.npm

# Docker
.dockerignore

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Logs
*.log